.register-string {
    /* h1タグで囲った「会員登録」の文字を画面中央の少し上に配置 */
    text-align: center;
    padding-top: 150px;
}

.user-register-form {
    /* formタグで囲った名前、電話番号、メールアドレスの入力欄と「登録ボタン」を画面中央に配置 */
    text-align: center;
}
